@model WebAppDBFirst.Models.DB.Citoyen

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Citoyen</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdCarte" class="control-label"></label>
                <select asp-for="IdCarte" class="form-control" asp-items="ViewBag.IdCarte"></select>
                <span asp-validation-for="IdCarte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAdresse" class="control-label"></label>
                <select asp-for="IdAdresse" class="form-control" asp-items="ViewBag.IdAdresse"></select>
                <span asp-validation-for="IdAdresse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCompte" class="control-label"></label>
                <select asp-for="IdCompte" class="form-control" asp-items="ViewBag.IdCompte"></select>
                <span asp-validation-for="IdCompte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdRelation" class="control-label"></label>
                <select asp-for="IdRelation" class="form-control" asp-items="ViewBag.IdRelation"></select>
                <span asp-validation-for="IdRelation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenom" class="control-label"></label>
                <input asp-for="Prenom" class="form-control" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone" class="control-label"></label>
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateNaissance" class="control-label"></label>
                <input asp-for="DateNaissance" class="form-control" />
                <span asp-validation-for="DateNaissance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
